   
body{
    color: #555555;
    font-weight: normal;
    font:normal 16px  arial,Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
    background-image: url("../images/Captain_cook.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
 
}
/* below makes more responsive*/

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: red;
}

.mycontainer{
    width:80%;
    margin: auto;/*this pushes to middle*/
}
.button{
    background-color:#333 ;
    color:#fff ;
    padding:10px 15px ;
    
    border: none;
}
.button:hover{
    background-color: red;
    color: #fff;
}
.clr{
    clear:both
}
.box-1{
    background-color:rgba(0, 0, 205,0.7);
    border-width: 3px id;
    border-radius: 15px;
    border-top-style: dotted ;
    border: 2px rgb(212, 209, 35) solid;
    padding: 20px;
    margin-top: 20px;
    margin: 20px 0;
    color: #e9e62a;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size:28px ;
    line-height: 1.0em;


}

.box-1 h1{  
    font-weight: 800;
    font-style: italic;
    text-decoration:underline;
    letter-spacing: 0.2em;
    word-spacing: 0em;

 }

 .whatsnew{
    background-color: rgba(233, 230, 42,.7);
    text-align: center;
   
    border:3px  #ccc;
    border-style:double;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
 }
 .whatsnew h1{
    text-decoration:underline ;
 }

 .oldnews {
    color: #fff;
    background-color: rgba(0, 0, 205,0.7);
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;


 }

 .oldnews h2{
    text-align: center;
    text-decoration: underline;
    text-shadow;

 }
 .oldnews ul{
    
    padding: 0;
    list-style: none;


 }

.oldnews li{
    
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    */list-style-image: url('../images/ship.jpeg');*/
}
.oldnews a {
    color: #fff;
}
/*
.my-form{
    padding: 20px;
}
.my-form .form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}*/
.block{
    background-color:rgba(143, 154, 215, 0.74);
    color: rgb(199, 195, 134);
    float:left ;
    width: 33.3%;
    border:1px solid #ccc;
    padding: 10 px ;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;


}
#sidebar{
    float: left;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;

}
.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    background-image: url('../csscheatsheet/images/Ukraine.jpeg');
}



/*.my-list li:first-child{
    background: red;
}.my-list li:last-child{
    background:blue;
}

.my-list li:nth-child(5){
    background: yellow;
}*/
